#topbar {
    width: 100%;
    display: inline-block;
    text-align: center;
}

/* input, button {
    /* border-radius: 3px; */
    /* padding: 3px; */
    /* width: 100%; */
    /* margin: auto; */
    /* vertical-align: top; */
    /* position: relative; */
/* } */

button {
    width: 20px;
    height: 100%;
    vertical-align: top;
}

#points {
    width: 500px;
}

input {
    accent-color: rgb(134, 29, 29);
}

#pauseButton {
    width: fit-content;
    display: inline-block;
    height: 100%;
    vertical-align: top; 
}